.oculos-bg:nth-child(3) {
    background: linear-gradient(to right, white 20%, black 20%);
}

.oculos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.oculos-imagem {
    position: relative;
}

.oculos-imagem span {
    background: var(--cor-12);
    display: inline-block;
    padding: 8px 16px;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 4px 0 0 4px;
}

.oculos-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.oculos h2,
.oculos p {
    grid-column: 1/-1;
}

.oculos h2 {
    margin-bottom: 20px;
}

.oculos h2::before {
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
}

.oculos p {
    margin-bottom: 32px;
}
.oculos a {
    place-self: end;
}
.oculos li {
    display: flex;
    align-items: center;
}
.oculos li + li {
  margin-top: 16px;
}
.oculos-conteudo img{
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 800px) {
    .oculos {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .oculos-conteudo {
        grid-template-columns: 1fr;
    }
    .oculos ul {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
        font-size: 1rem;
    }
    .oculos a {
        place-self: start;
    }
    .oculos-bg:nth-child(3) {
        background: black;
    }
    
}